.piano-container {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.piano-container.left {
  left: 0;
}
.piano-container.center {
  margin: auto;
  left: 0;
}
.piano-container.right {
  right: 0;
}
.piano-container.top {
  top: 0;
}
.piano-container.middle {
  top: 50%;
}
.piano-container.bottom {
  bottom: 0;
}
.piano-container ul {
  margin: auto;
  padding: .25em 0;
  max-width: 1080px;
  min-width: 340px;
  text-align: center;
  background: rgba(0, 0, 0, .9);
}
.piano-container ul li {
  display: inline;
}
.piano-container ul li .key {
  margin: .2em;
  padding: 0;
  height: 3em;
  width: 3.5em;
  background: #2F2E34;
  color: #FFF;
  font-size: 1em;
  border: none;
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
}
.piano-container ul li .key:active {
  background: #2323AA;
  outline: none;
}
.piano-container ul li .key:focus {
  outline: none;
}
.piano-container ul li.break:after {
  content: "\A";
  white-space: pre;
}
.piano-container ul li .space {
  padding: .3em 12.5em;
}
.piano-container ul li .key:active:after {
  content: attr(data-piano-key);
  display: inline-block;
  position: absolute;
  bottom: 4em;
  left: -.2em;
  height: 3.5em;
  width: 4em;
  line-height: 3.3em;
  background: #706E7A;
}
.piano-container ul li .space:active:after {
  display: none;
}
