.piano-container {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 70%;
  max-width: 700px;
  min-width: 340px;
  background: rgba(0, 0, 0, .1);
}
.piano-container.left {
  left: 0;
}
.piano-container.center {
  left: 15%;
}
.piano-container.right {
  right: 0;
}
.piano-container.top {
  top: 0;
}
.piano-container.middle {
  top: 50%;
}
.piano-container.bottom {
  bottom: 0;
}
.piano-container ul {
  margin: 0;
  padding: 0;
  width: auto;
  text-align: center;
}
.piano-container ul li {
  display: inline;
}
.piano-container ul li .key {
  margin: .1em;
  padding: 0 1em;
  height: 2em;
  border: 1px solid #555;
}
.piano-container ul li.break:after {
  content: "\A";
  white-space: pre;
}
.piano-container ul li .space {
  padding: .3em 6em;
}